<?xml version='1.0' encoding='utf-8'?>
<widget id="com.whackamole.game" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>打地鼠</name>
    <description>
        一个有趣的打地鼠游戏
    </description>
    <author email="game@whackamole.com" href="https://whackamole.com">
        游戏开发者
    </author>
    <content src="index.html" />
    <preference name="Orientation" value="portrait" />
    <preference name="Fullscreen" value="true" />
    <preference name="BackgroundColor" value="0x667eea" />
    <preference name="KeepRunning" value="true" />
    <preference name="android-minSdkVersion" value="22" />
    <preference name="android-targetSdkVersion" value="34" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
</widget>
